html {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

div#app {
    width: 450px;
}

div#vertical-line {
    width: 2px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f2f5;
    flex-grow: 1;
}

div#comment-container {
    background-color: #f0f2f5;
    padding: 8px 12px;
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    width: fit-content;
    max-width: 256px;
}

span#comment-text {
    display: block;
    font-size: 1.25rem;
    width: 100%;
    overflow-wrap: anywhere;
}

.text-body-blue {
    color: hsl(214, 89%, 52%)
}

.text-body-gray {
    color: #65676B
}

.ms-n4 {
    margin-left: -4px;
}

.w-320 {
    width: 320px;
}